@use "app/styles/common-style";
@use "app/styles/responsive";

:host {
    display: flex;
    background-color: var(--banner-background-color);
}

@mixin mobile-screen {
    :host {
        padding: 8px 20px;
        flex-direction: column;
        height: unset;
        gap: 10px;
    }
}

@mixin desktop-screen {
    :host {
        padding: 8px 80px;
        gap: 10px;
        flex-direction: row;
        height: 60px;
    }
}

@include responsive.xs() {
    @include mobile-screen;
}

@include responsive.sm() {
    @include mobile-screen;
}

@include responsive.md() {
    @include mobile-screen;
}

@include responsive.lg() {
    @include desktop-screen;
}

@include responsive.xl() {
    @include desktop-screen;
}
