<!-- On ajoute ce contexte de sidenav pour éviter trop de régressions suite à la refonte du front -->
<mat-sidenav-container>
  <mat-sidenav-content class="sidebar-content-pd">
    <app-loader [active]="isLoading"></app-loader>
    @if (metadata) {
<div [ngClass]="{'metadata-container-sm': mediaSize.isSm  || mediaSize.isMd,
            'metadata-container-lg':  mediaSize.isLg, 'metadata-container-xl': mediaSize.isXl, 'metadata-container-xxl': mediaSize.isXxl}"
        class="metadata-container ps-0 pe-0 container-fluid">
        <!-- Icon et titre de la ressource -->
        <app-page-heading
          [organizationName]="metadata?.producer?.organization_name"
          [resourceTitle]="metadata?.resource_title"
          [organizationId]="metadata?.producer.organization_id"
          [icon]="getDatasetTitleIcon()"
          >
        </app-page-heading>
        <!-- Fin Icon et titre de la ressource -->
        <!-- Bandeau -->
        <app-tabs>
          <app-tab [label]="'metaData.informations'|translate"
            [icon]="'icon_tab_infos'">
            <ng-template>
              <app-dataset-informations
                [metadata]="metadata"
                [isSelfdata]="isSelfdata"
                [isRestricted]="isRestricted"
                [mediaDataType]="mediaDataType"
                [mediasTitle]="mediasTitle"
                [mediaType]="mediaType"
                [licenceLabel]="licenceLabel"
                [conceptUri]="conceptUri"
                [themeLabel]="themeLabel"
                [downloadableMedias]="downloadableMedias"
                [isLoading]="isLoading"
                [otherDatasets]="otherDatasets"
                [themeCode]="themeCode"
                [themePicto]="themePicto"
                [maxDatasetDiplayed]="MAX_DATASETS_DISPLAYED"
                [totalOtherDatasets]="totalOtherDatasets"
                >
              </app-dataset-informations>
            </ng-template>
          </app-tab>
          @if (isSpreadsheetDisplayed) {
            <app-tab
              [label]="'metaData.tabulatedDataTitle'|translate"
              [icon]="'tabulated-data'">
              <ng-template>
                <app-spreadsheet-tab
                  [metadata]="metadata"
                  [mediaToDisplay]="mediaToDisplayTable"
                  [candidates]="tableMediaCandidates">
                </app-spreadsheet-tab>
              </ng-template>
            </app-tab>
          }
          @if (isMapDisplayed) {
            <app-tab
              [label]="'metaData.mapData'|translate"
              [icon]="'map'"
              [invisible]="false"
              >
              <ng-template>
                @if (!mapHasError) {
                  <app-map-tab
                    [metadata]="metadata"
                    [mediaToDisplay]="mediaToDisplayMap"
                  ></app-map-tab>
                } @else {
                  <app-error-box [text]="'metaData.mapDataTab.error' | translate">
                  </app-error-box>
                }
              </ng-template>
            </app-tab>
          }
          <!-- Boutton télécharger -->
            @if (!isSelfdata && hasDownloadableMedia) {
            <app-banner-button #clickMenuFormatTrigger="matMenuTrigger" [matMenuTriggerFor]="formatMenu">
              <div class="d-flex align-items-center">
                <mat-icon class="icon-syle icon-save me-l">save_alt</mat-icon>
                <div
                  [ngClass]="{'banner-icon-libelle': mediaSize.isSm}">{{ 'availableFormats.telecharger'|translate }}
                </div>
              </div>
              <mat-menu #formatMenu="matMenu" role="menu" yPosition="below">
                    <div (click)="$event.stopPropagation()" class="rudi-select-panel d-flex flex-column">
                      <div class="menu-radioGroup-scrollable">
                        <h4 class="menu-libelle">{{ 'availableFormats.formatsDisponibles'|translate }}</h4>
                        <div (click)="$event.stopPropagation()" class="d-flex flex-column">
                          @for (item of downloadableMedias; track item) {
                            <mat-checkbox
                              [checked]="isMediaSelected(item)"
                              (change)="toggleMediaSelection(item, $event.checked)"
                              class="mb-2">
                              @if (item.media_name) {
                                {{ item.media_name }} ({{ getMediaFileExtension(item) }})
                              } @else {
                                {{ getMediaFileExtension(item) }}
                              }
                            </mat-checkbox>
                          }
                        </div>
                      </div>
                      @if (!isSelfdata) {
                        <button
                          (click)="onDownloadFormat()"
                          [disabled]="selectedMedias.length === 0"
                          [ngClass]="{'btn-download-format':metadata.available_formats.length == null }"
                          class="button menu-btn-download"
                          mat-raised-button
                          type="button">
                          {{ (selectedMedias.length > 1 ? 'availableFormats.telechargerZip' : 'availableFormats.telecharger') | translate }}
                        </button>
                      }
                    </div>
                  </mat-menu>
            </app-banner-button>
          }
          <!-- Faire une demande d'information sur ses données personnelles detenues -->
          @if (isSelfdata) {
            <app-banner-button (click)="handleClickSelfdataInformationRequest()" >
              <div class="selfdata-banner-button">
                <mat-icon [svgIcon]="'icone_donnees_personnelles'"></mat-icon>
                <span>{{ 'metaData.selfdataInformationRequest.wholeTitle'|translate }}</span>
              </div>
            </app-banner-button>
          }
          <!-- Demander l'accès à un JDD restreint -->
            @if (!isSelfdata && isRestricted && hasDownloadableMedia) {
            <app-banner-button
              (click)="handleClickRequestAccess()">
              <div class="d-flex align-items-center">
                <mat-icon class="key-icon me-2" svgIcon="key_icon_circle"></mat-icon>
                <span>{{ 'metaData.restrictedDatasetRequest'|translate }}</span>
              </div>
            </app-banner-button>
          }
        </app-tabs>
        <!-- Fin Bandeau -->
        <div
          [ngClass]="{'p-small': mediaSize.isDeviceMobile, 'p-large': mediaSize.isDeviceDesktop}"
          class="banner-reuses">
          <div class="banner-reuses-header d-flex justify-content-between">
            <h2 class="blue-theme">{{ 'metaData.reutilisations.titre'|translate }}{{ nbLinkedProjects > 1 ? 's' : '' }}
            ({{ nbLinkedProjects }})</h2>
            <span class="spacer"></span>
            <app-popover
              (click)="clickDeclareReuse()"
              buttonLogo="rudi_picto_reutilisations"
              [buttonMessageBody]="'project.buttonSubmitParagraph1'|translate"
              [buttonMessageFooter]="'project.buttonSubmitParagraph2'|translate"
              [buttonMessageTitle]="'project.buttonPopover.submitProject'|translate">
            </app-popover>
          </div>
          @if (nbLinkedProjects > 0) {
            <div class="banner-reuses-cards">
              <app-project-list [disableScrollOnPageChange]="true"
                [linkedDatasetsGlobalIds]="[metadata.global_id]"
                [maxResultsPerPage]="(mediaSize.isXs || mediaSize.isSm) ? 1 : 3"
                [resultsPerRow]="(mediaSize.isXs || mediaSize.isSm) ? 1 : 3"
                (reuseListTotal)="setLinkedProjectTotal($event)"
                >
              </app-project-list>
            </div>
          }
          @if (nbLinkedProjects === 0) {
            <div>
              {{ 'metaData.reutilisations.aucuneReutilisation'|translate }}
            </div>
          }
        </div>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
