<div class="header-metadata" [ngClass]="{
                'p-small': mediaSize.isDeviceMobile,
                'p-large': mediaSize.isDeviceDesktop
            }">

  <div class="header-img-container mb-sm-2">
    <div class="header-img">
            <app-organization-logo [ngClass]="{'metadata-theme-sm' : mediaSize.isSm,
                                                    'metadata-theme-md' : mediaSize.isMd,
                                                    'metadata-theme-lg' : mediaSize.isLg || mediaSize.isXl || mediaSize.isXxl}"
        class="organization-logo"
        [organizationId]="organizationId"
        organizationType="producer">
      </app-organization-logo>
    </div>
  </div>

  <div class="header-ressource-container">
    <div class="header-ressource">
      @if (organizationId && organizationClickable) {
        <a class="producer-name producer-link" [routerLink]="['/organization/detail', organizationId, uriComponentCodec.normalizeString(organizationName)]"
          [attr.aria-label]="'organization.linkToPage' | translate: {name: organizationName}"
          [attr.title]="'organization.linkToPage' | translate: {name: organizationName}">{{organizationName}}</a>
      } @else {
        <div class="producer-name">{{organizationName}}</div>
      }
      <div class="resource-description d-flex mx-auto">
        <h1 class="blue-theme resource-title my-auto">
          @if (icon != null && icon !== '') {
            <mat-icon class="d-inline-flex dataset-icon picto" [svgIcon]="icon"
            ></mat-icon>
          }
          {{resourceTitle}}
        </h1>
      </div>
      @if (!mediaSize.isXs && status) {
        <div class="fake-btn">{{ status }}</div>
      }
    </div>
  </div>
</div>
