<app-page>
  <app-page-heading
    [organizationName]="'organization.label'|translate"
    [resourceTitle]="organization?.name"
    [organizationId]="organization?.uuid"
    [organizationClickable]="false"
    [status]="getStatus()"
    >
  </app-page-heading>
  <app-tabs>
    <app-tab [label]="'metaData.informations'|translate"
      [icon]="'icon_tab_infos'">
      <ng-template>
        @if (organization) {
          <app-organization-informations
            [isLoading]="isLoading"
            [organization]="organization"
          ></app-organization-informations>
        }
      </ng-template>
    </app-tab>
    @if (displayAdministrationTab) {
      <app-tab [label]="'metaData.administrationTab.title'|translate"
        [icon]="'icon-administration-tab'">
        <ng-template>
          @if (organization) {
            <app-administration-tab
              [isLoading]="isLoading"
              [organization]="organization"
            ></app-administration-tab>
          }
        </ng-template>
      </app-tab>
    }
  </app-tabs>
</app-page>
